# trino-config/jvm.config
-server
-Xmx2G
-XX:+UseG1GC
-XX:G1HeapRegionSize=32M
-XX:+UseGCOverheadLimit
-XX:+ExplicitGCInvokesConcurrent
-XX:+HeapDumpOnOutOfMemoryError
-XX:+ExitOnOutOfMemoryError
-XX:ReservedCodeCacheSize=256M
-XX:UseSVE=0
-Djdk.attach.allowAttachSelf=true
-Djdk.nio.maxCachedBufferSize=2000000

# AWS SDK — enable SigV4 and disable EC2 metadata lookup
-Dcom.amazonaws.services.s3.enableV4=true
-Dcom.amazonaws.sdk.disableEc2Metadata=true
-Dcom.amazonaws.auth.DefaultAWSCredentialsProviderChain=true
